<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template" />
    <meta name="description"
        content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Product Admin </title>
    <!-- Favicon icon -->

    <!-- Custom CSS -->
    <link href="../assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="../dist/css/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">

    <style>
        .page-wrapper {

            margin-top: 20px;
            margin-right: 20px;
        }

        .card {
            border: 2px solid white;
            border-radius: 10px;
            color: white;
            background-color: transparent;
        }

        .card img {
            height: 400px;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <%- include('./partials/header') %>

            <!-- ============================================================== -->
            <%- include('./partials/aside') %>


                <!-- Page wrapper  -->
                <!-- ============================================================== -->

                <!-- flash message -->
                <div class="page-wrapper flex-grow-1 p-6" style="background-color: transparent;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAWFHsRVKdAoNRT76K9PkdhkUkBfPfWRApkQ&s"
                                        alt="img" class="img-fluid mb-3">
                                    <h4 class="card-title">
                                        Apple
                                        iPhone
                                        15
                                        (Blue,
                                        128
                                        GB)
                                    </h4>
                                    <h5 class="card-text">
                                        ₹64,999
                                    </h5>
                                    <p class="card-text">
                                        Experience
                                        the
                                        iPhone
                                        15
                                        your
                                        dynamic
                                        companion.
                                        Dynamic
                                        Island
                                        ensures
                                        you
                                        stay
                                        connected,
                                        bubbling
                                        up
                                        alerts
                                        seamlessly
                                        while
                                        you're
                                        busy.
                                    </p>
                                    <a href="#" class="btn btn-primary">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCsKM2KbfmEf3jCOOCLo5i5zw6cj7oATlFhQ&s"
                                        alt="img" class="img-fluid mb-3 w-100">
                                    <h4 class="card-title">
                                        HP
                                        15s
                                        Laptop
                                    </h4>
                                    <h5 class="card-text">
                                        ₹83,999
                                    </h5>
                                    <p class="card-text">
                                        You
                                        can
                                        complete
                                        your
                                        tasks
                                        rapidly
                                        with
                                        the
                                        HP
                                        15s
                                        Laptop.
                                        Owing
                                        to
                                        its
                                        high
                                        resolution
                                        and
                                        sophisticated
                                        display
                                        of
                                        colours.
                                    </p>
                                    <a href="#" class="btn btn-primary">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                        <% ProductData.forEach((product)=>
                            {
                            %>
                            <div class="col-md-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <img src="<%= product.image %>" alt="img" class="img-fluid mb-3">
                                        <h4 class="card-title">
                                            <%= product.productname %>
                                        </h4>
                                        <h5 class="card-text">
                                            <%= product.productprice %>
                                        </h5>
                                        <p class="card-text">
                                            <%= product.description %>
                                        </p>
                                        <a href="/product/editProduct/<%= product._id %>"
                                            class="btn btn-primary">Edit</a>
                                        <a href="/product/delete/<%= product._id %>" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- All Jquery -->
                <!-- ============================================================== -->
                <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
                <!-- Bootstrap tether Core JavaScript -->
                <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
                <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
                <!--Wave Effects -->
                <script src="../dist/js/waves.js"></script>
                <!--Menu sidebar -->
                <script src="../dist/js/sidebarmenu.js"></script>
                <!--Custom JavaScript -->
                <script src="../dist/js/custom.min.js"></script>
                <!--This page JavaScript -->
                <!-- <script src="../dist/js/pages/dashboards/dashboard1.js"></script> -->
                <!-- Charts js Files -->
                <script src="../assets/libs/flot/excanvas.js"></script>
                <script src="../assets/libs/flot/jquery.flot.js"></script>
                <script src="../assets/libs/flot/jquery.flot.pie.js"></script>
                <script src="../assets/libs/flot/jquery.flot.time.js"></script>
                <script src="../assets/libs/flot/jquery.flot.stack.js"></script>
                <script src="../assets/libs/flot/jquery.flot.crosshair.js"></script>
                <script src="../assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
                <script src="../dist/js/pages/chart/chart-page-init.js"></script>
</body>

</html>